.dialog-container {
  @apply fixed z-50;
}
.dialog-wrapper {
  @apply fixed inset-0;
}
.dialog-backdrop {
  @apply fixed inset-0;
  background: rgba(0,0,0, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.dialog-container {
  @apply p-12.5;
  max-width: 31.25rem;
  width: 80%;
  max-height: 32.5rem;
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}
.dialog-header {
  @apply text-primary text-center pb-12.5;
}
