.accounting-table {
  .table-body .col {
    padding-bottom: 2rem;
    padding-right: 1rem;
  }
  .col-1 {
    width: 10%;
  }
  .col-2 {
    width: 10%;
  }
  .col-3 {
    width: 20%;
  }
  .col-4 {
    width: 10%;
  }
  .col-5 {
    width: 10%;
  }
  .col-6 {
    width: 10%;
  }
  .col-7 {
    width: 20%;
  }
  .col-8 {
    width: 10%;
  }
}