.invoices-table {
  .table-body .col {
    padding-bottom: 2rem;
    padding-right: 0;
  }
  .col-1 {
    width: 8%;
  }
  .col-2 {
    width: 8%;
  }
  .col-3 {
    width: 16%;
  }
  .col-4 {
    width: 8%;
  }
  .col-5 {
    width: 10%; //45
  }
  .col-6 {
    width: 25%;
  }
  .col-7 {
    width: 10%;
  }
  .col-8 {
    width: 15%;
  }
}