.all-milestones-table {
  width: 100rem;
  .table-body .col {
    padding-bottom: 2rem;
    padding-right: 0;
  }
  .col-1 {
    width: 6%;
  }
  .col-2 {
    width: 7%;
  }
  .col-3 {
    width: 12%;
  }
  .col-4 {
    width: 5%;
  }
  .col-5 {
    width: 15%; //45
  }
  .col-6 {
    width: 6%;
  }
  .col-7 {
    width: 6.875%;
  }
  .col-8 {
    width: 6.875%;
  }
  .col-9 {
    width: 7.75%;
  }
  .col-10 {
    width: 6.875%;
  }
  .col-11 {
    width: 6.875%;
  }
  .col-12 {
    width: 6.875%;
  }
  .col-13 {
    width: 6.875%;
  }
}