.previous-address-table {
  .table-header .col button {
    margin: 0 auto;
    text-align: center;
  }
  .table-body .col {
    text-align: center;
    padding-bottom: 2rem;
    padding-right: 0;
  }
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 30%;
  }
  .col-3 {
    width: 20%;
  }
  .txt-start {
    text-align: start;
  }
}
