.pending-agreement-table {
  .table-body .col {
    padding-bottom: 2rem;
    text-align: center;
    padding: 0 0.5rem;
;
  }
  .table-header .col button {
    margin: 0 auto;
    text-align: center;
  }
  .col-1 {
    width: 5%;
  }
  .col-2 {
    width: 25%;
  }
  .col-3 {
    width: 14%;
  }
  .col-4 {
    width: 14%;
  }
  .col-5 {
    width: 14%;
  }
  .col-6 {
    width: 14%;
  }
  .col-7 {
    width: 14%;
  }
}